.menu-button {
    display: flex;
    color: white;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 3rem;

    font-weight: bold;
    text-decoration: none;
}
.menu-button:hover {
    color: rgb(240, 185, 83);
}
.menu-button:active {
    color: rgb(240, 185, 83);
}