.about-me {
    color: white;
}
.my-story__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.my-story__text__flags {
    display: flex;
    justify-content: space-evenly;
}
.flag {
    max-width: 50%;
}